@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
	/* Paleta de colores*/
	--Primary: #130f57;
	--Accent1: #ea3d72;
	--Accent2: #3AAFB9;

	/*Primary tints and shades generadas con https://noeldelgado.github.io/shadowlord/#130f57*/
	--Primary-light-90:#e7e7ee;
	--Primary-light-70:#b8b7cd;
	--Primary-dark-10:#110e4e;
	--Primary-dark-30:#0d0b3d;
	--Primary-dark-50: #0b0934;
	--Primary-dark-70:#06051a;

	/*Accent1 tints and shades generadas con https://noeldelgado.github.io/shadowlord/#ea3d72*/
	--Accent1-light-30:#f0779c;
	--Accent1-light-10:#ec5080;
	--Accent1-dark-10:#d33767;
	--Accent1-dark-30:#a42b50;

	/*Accent2 tints and shades generadas con https://noeldelgado.github.io/shadowlord/#178491*/
	--Accent2-light-80:#d8eff1;
	--Accent2-light-60:#b0dfe3;
	--Accent2-light-30:#75c7ce;
	--Accent2-light-20:#61bfc7;
	--Accent2-light-10:#4eb7c0;
	--Accent2-dark-10:#349ea7;
	--Accent2-dark-30:#297a82;
	--Accent2-dark-60:#17464a;
	--Accent2-dark-70:#113538;
}
	
.color-accent2{
	color: var(--Accent2);
}
.color-accent2:hover{
	color:var(--Accent2-light-20)
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* z-index: 0; */ /* necesario para que el background quede atraz */
}

/* typography */
h1{
	font-size: 4rem;
	font-weight: 200;
	letter-spacing: -0.1rem;
}
h2{
	font-size: 2.2rem;
	font-weight: 400;
}
h3{
	font-size: 2rem;
	font-weight: 300;
}
h4{
	font-size: 1.6rem;
	font-weight: 400;
}
h5{
	font-size: 1.3rem;
	font-weight: 600;
}
h6{
	font-size: 1.3rem;
	font-weight: 200;
}
p{
	font-size: 1.2rem;
	line-height: 1.2em;
}
/* typography */


body {
	font-family: 'Josefin Sans', sans-serif;
	background-color: var(--Primary-dark-70);
	color: var(--Primary-light-70);
}
.background {
  	position: absolute;
  	display:block;
  	top:0;
  	left:0;
  	z-index:-1;
 }

/* scrollbar */
::-webkit-scrollbar {
	width: 0.7rem;
  }
  
  ::-webkit-scrollbar-track {
	background-color: #9fbed63f;
	border-radius: 2px;
  }
   
  ::-webkit-scrollbar-thumb {
	background: #17235F; 
	border-radius: 2px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: #647AA6; 
  }

/* scrollbar */

/* nav */
header {
	background: rgb(19,15,87);
	background: linear-gradient(180deg, rgba(19,15,87,1) 0%, rgba(17,14,78,1) 50%, rgba(13,11,61,1) 100%);
	z-index: 1;
}
 .navbar-collapse{
	 flex-grow: inherit;
	 font-size: 1.3rem;
}
/* nav */

/* footer*/
footer{
	background: rgb(11,9,52);
	background: linear-gradient(8deg, rgba(11,9,52,1) 0%, rgba(6,5,26,1) 100%);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"contact social";
	padding: 1em 2rem;
	gap: 8px;
}
#footerContact{
	grid-area: contact;
	display: flex;
	flex-direction: column;
}
#footerSocial{
	grid-area: social;
	display: flex;
	flex-direction: column;
}
	footer h5{
		text-align: center;
		font-weight: 100;
		color: var(--Primary-light-70);
	}
	footer a {
		text-decoration: none;
		color:var(--Primary-light-70);
		font-size: 1.2rem;
		font-weight: 300;
		text-align: center;
		margin: 8px;
		transition: color 200ms ;
	}
		footer a:hover, footer a:focus{
			color:var(--Primary-light-90);
		}
		footer a svg{
			margin-right: 0.5rem; 
		}
@media screen and (min-width:1080px) {
	#footerSocial{
		flex-direction: row;
		align-items: center;
		width: fit-content;
		justify-content: flex-end;
		width: 100%;
	}
	#footerContact{
		flex-direction: row;
		align-items: center;
		width: fit-content;
	}

}

/* footer*/

/*--------------COMPONENTS-----------------*/
/*button*/
.btnPrimary{
	background-color: var(--Accent1-light-10);
	color: var(--Primary-dark-10);
	border: solid 2px var(--Accent1-light-10);
	transition: all 300ms cubic-bezier(.05,.52,.83,.67);
}
	.btnPrimary:hover, .btnPrimary:focus{
		background-color: var(--Accent1-dark-30);
		color: var(--Primary-dark-30);
	}

.btnSecondary{
	background: none;
	color:var(--Accent1-light-10);
	border: solid 2px var(--Accent1-light-10);
	transition: all 300ms cubic-bezier(.05,.52,.83,.67);
}
	.btnSecondary:hover, .btnSecondary:focus{
		color: var(--Primary);
		border-color: var(--Accent1-dark-10);
		background: var(--Accent1);
	}

	
/*button*/

/*Progress bar*/
.bar{
	width: 95%;
	height: 16px;
	background: rgba(255, 255, 255, 0.658);
	border-radius: 20px;
}
.progress{
	width: 100%;
	height: 16px;
	background: rgba(195, 36, 115, 0.7);
	border-radius: 20px;
}
	.progress.p50{
		width: 50%;
	}
	.progress.p60{
		width: 60%;
	}
	.progress.p70{
		width: 70%;
	}
	.progress.p80{
		width: 80%;
	}
/*Progress bar*/

/*-------------- END COMPONENTS-----------------*/


/*--------------HOME-----------------*/

/* presentation */
	.presentation_links a{
		margin: 0 1rem;
		border-radius: 8px;
		color: #647AA6;
		transition: color 300ms;
	}
	.presentation_links a:hover, .presentation_links a:focus{
		color: #E773AD;
	}

/*presentation*/

/*--------------END HOME-----------------*/


/*--------------ABOUT-----------------*/


.about article{
	display: flex;
	flex-direction: column;
	gap:1rem;
	padding:1rem;
}
.language{
	margin:1em 0;
}
.language .bar{
	margin-top: 1em;
}

@media screen and (min-width:992px) {
	.language{
		width: 45%;
	}
}


/*--------------END ABOUT-----------------*/


/*--------------RESUME-----------------*/
#resumeTab button{
	font-size: 1.2rem;
	color: var(--Accent2-light-80);
}
#resumeTab button.active{
	color: var(--Accent1-dark-30);
	font-weight: 600;
	background-color: var(--Primary-light-70);
}

/*Experiences*/

.experience{
	background: #23696f87;
	box-shadow: 0 0.125rem 0.25rem 1px rgb(126 170 177 / 17%);
}
	.experience h2 small{
		font-weight: 200;
	}
	.experience .list-group-item{
		background: #23696f87;
		color: var(--Primary-light-90);
	}
	.experience .card-header{
		background: #b0dfe3ad;
		color: var(--Primary-dark-30);
	}

/*Experiences*/

/*Studies*/

.study{
	background: #f0779b66;
	color: var(--Primary-light-90);
}
@media screen and (min-width:850px) {
	.studies{
		display: flex;
		flex-wrap: wrap;
	}
}
/*Studies*/
/*--------------END RESUME-----------------*/


/*--------------PROJECTS-----------------*/

.project{
	background-color: #647aa69c;
	color: var(--Primary-light-90);
	}
	.project h3{
		color: var(--Accent2);
	}
	.project a{
		display: block;
	}

/*--------------END PROJECTS-----------------*/


/*--------------CONTACT-----------------*/

/*form*/

.form-control{
	border-radius: 2px;
	background-color: #b0dfe3b6;
	border: solid 3px var(--Accent2-dark-10);
}
.form-control::-moz-placeholder {
	color: var(--Accent2-dark-60);
	opacity: 1;
	}
  .form-control::placeholder {
	color: var(--Accent2-dark-70);
	opacity: 1;
	}
.form-control:focus{
	background-color: var(--Accent2-light-60);
		}

form .botones{
	text-align: end;
}
/*form*/

/*--------------END CONTACT-----------------*/