$Primary: #130f57;
$Accent1: #ea3d72;
$Accent2: #3aafb9;

//Primary tints and shades generadas con https://noeldelgado.github.io/shadowlord/#130f57
$Primary-light-90: #e7e7ee;
$Primary-light-70: #b8b7cd;
$primary-light-30: #5a5789;
$Primary-dark-10: #110e4e;
$Primary-dark-30: #0d0b3d;
$Primary-dark-50: #0b0934;
$Primary-dark-70: #06051a;

//Accent1 tints and shades generadas con https://noeldelgado.github.io/shadowlord/#ea3d72
$Accent1-light-40: #f28baa;
$Accent1-light-30: #f0779c;
$Accent1-light-20: #ee648e;
$Accent1-light-10: #ec5080;
$Accent1-dark-10: #d33767;
$Accent1-dark-30: #a42b50;

//Accent2 tints and shades generadas con https://noeldelgado.github.io/shadowlord/#178491
$Accent2-light-80: #d8eff1;
$Accent2-light-60: #b0dfe3;
$Accent2-light-30: #75c7ce;
$Accent2-light-20: #61bfc7;
$Accent2-light-10: #4eb7c0;
$Accent2-dark-10: #349ea7;
$Accent2-dark-30: #297a82;
$Accent2-dark-60: #17464a;
$Accent2-dark-70: #113538;
