.background {
    position: absolute;
    display:block;
    top:0;
    left:0;
    z-index:-1;
}


/* presentation */
.presentation_links a{
    margin: 0 1rem;
    border-radius: 8px;
    color: $Accent2-light-10;
    transition: color 300ms;
    &:hover, &:focus{
        color: $Accent2-dark-10;
    }
}
/*presentation*/